<%= form_for(service) do |f| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :service_type %>
    <%= f.collection_select :service_type_id, ServiceType.all, :id, :name %>
  </div>

  <div class="field">
    <textarea name="service_area" id="service_area"></textarea>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $(function(){
    $('form').bind("keypress", function(e) {
      if (e.keyCode == 13) {               
        e.preventDefault();
        return false;
      }
    });
    <% service_area = ServiceArea.where(:company_id => current_user.company_id).group(:city) %>
    $('#service_area').tagEditor({ 
      initialTags: [<% service_area.each do |s_a| %>
        '<%= s_a.city %>',
      <% end %>],
      autocomplete: { 'source': '/url/', minLength: 3 } 
    });
  });
  
</script>