<div class="container"><p id="notice"><%= notice %></p>

<h1><%= @company.name %></h1>

<div class="row">
	<div class="col-md-4">
		<%= image_tag @company.logo.url(:medium) %>
	</div>
	<div class="col-md-6">
		<%= @company.description %><br/>
		<%= @company.email %><br/>
		<%= @company.phone %><br/>	
	</div>
</div>

<div class="row company-header-row">
	<div class="col-md-2">
		<span>Service</span>
	</div>
	<div class="col-md-6">
		<span>Description</span>
	</div>
	<div class="col-md-2">
		<span>Price</span>
	</div>
	<div class="col-md-2">
		<span>Reserve</span>
	</div>
</div>
<% @services.each do |s| %>
<div class="row company-service-row">
	<div class="col-md-2">
		<span><%= s.name %> </span>
	</div>
	<div class="col-md-6">
		<span><%= truncate(s.description, length:100) %> </span>
	</div>
	<div class="col-md-2">
		<span>$<%= s.price %> </span>
	</div>
	<div class="col-md-2">
	<% 
	if user_signed_in? 
		@user = current_user
		t = Transaction.where(:service_id => s.id, :user_id => @user.id)
		if t.any? %>
			<span><%= link_to 'Buy', new_transaction_path(:service => s), class: "action-button blue" %></span>
		<% else %>
			<span>Already Purchased!</span>
		<% end
	end %>
	</div>
</div>
<% end %>

<% if can? :update, @company %>
<%= link_to 'Edit', edit_company_path(@company) %> |
<% end %>
<%= link_to 'Back', companies_path %>

</div>	