<p id="notice"><%= notice %></p>
<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <input type="hidden" id="service_id" name="service_id" value="<%= @service.id %>">
    <input type="hidden" id="company_id" name="company_id" value="<%= @company.id %>">
    <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>"

  <%= render 'companies/transaction', company: @company %>
  <%= render 'services/transaction', service: @service %>

  <%= render 'user_profiles/add', user_profile: @userProfile %>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>