<%= form_for(review, remote: true, format: :js) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <input type="hidden" name="review[user_id]" id="review[user_id]" value="<%= review.user_id%>">
  <input type="hidden" name="review[transaction_id]" id="review[transaction_id]" value="<%= review.transaction_id%>">
  <input type="hidden" name="review[company_id]" id="review[company_id]" value="<%= review.company_id%>">

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
