<!DOCTYPE html>
<html>
<head>
  <title>LocalServices</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
  .logo{
    font-family: Groupon;
    content: '\e073';
    color: #82b548 !important;
    line-height: 66px;
    background-image: none;
    font-size: 47px;
    display: inline-block;
    vertical-align: middle;
  }
  .service-type-search{
    font-size: 1.076923076923077em;
    height:36px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top:7px;
    width: 225px;
    padding-left:30px;
    border:0px;
    
  }
  .service-type-search:focus {
    outline: 0;
  }
  .active-search-type{
    background: #ececec;
    box-shadow: -2px 1px 3px #999 inset;
  }
  .service-area-search{
    font-size: 1.076923076923077em;
    height:36px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top:7px;
    width: 225px;
    padding-left:30px;
    border:0px;
  }
  .service-area-search:focus {
    outline: 0;
  }
  .active-search-area{
    background: #ececec;
    box-shadow: 2px 1px 3px #999 inset; 
  }
</style>
<body>
<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom:0px">
  <div class="container container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "LOCALS", home_index_path, :method => :get, class: "logo" %></li>
      <li>
          <input name="service_type" class="service-type-search active-search-type" placeholder="What are you looking for?" type="text" class="service_type" id="service_type">
      </li>
      <li><input name="service_area" class="service-area-search" placeholder="Enter your location" type="text" class="service_area" id="service_area"></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <% if current_user.role_id == 2 %>
          <li><%= link_to "Dashboard", dashboard_index_path, :method => :get %></li>
        <% end %>
        <li><%= link_to "Edit Profile", edit_user_registration_path, :method => :get %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, :method => :get %></li>
        <li><%= link_to "Sign in", new_user_session_path, :method => :get %></li>
      <% end %>
      
    </ul>
  </div>
</nav>
 
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
<%= yield %>

</body>

<script>
  $(function(){
    $( ".service_area" ).autocomplete({
      source: [<% @service_areas.each do |s_a| %>
        capitalizeFirstLetter('<%= s_a.city %>'),
      <% end %>],
    });

    $( ".service_type" ).autocomplete({
      source: [<% @service_types.each do |s_t| %>
        capitalizeFirstLetter('<%= s_t.name %>'),
      <% end %>],
    });

    function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }
    $('#service_type').click(function() {
      $('#service_type').addClass("active-search-type");
      $('#service_area').removeClass("active-search-area");
    });
    $('#service_area').click(function() {
      $('#service_area').addClass("active-search-area");
      $('#service_type').removeClass("active-search-type");
    });
  });
</script>

</html>
